#paraLayer1 {
  background: rgba(8, 26, 47);
  background: linear-gradient(
    180deg,
    rgba(8, 26, 47, 1) 28%,
    rgba(14, 6, 33, 0.8) 95%
  );
}

#paraLayer2 {
  background: rgb(197, 109, 148);
  background: linear-gradient(
    180deg,
    rgba(197, 109, 148, 0.3) 0%,
    rgba(8, 26, 47, 1) 80%
  );
}

#paraLayer3 {
  background: rgb(197, 109, 148);
  background: linear-gradient(
    0deg,
    rgba(197, 109, 148, 1) 0%,
    rgba(8, 26, 47, 1) 67%
  );
}
/* footer ParallaxLayer offset=2.5 until a max of 992px  */
@media (min-width: 766px) and (max-width: 992px) {
  #footerLayer {
    offset: 2.6;
  }
}
/* @media (max-width: 992px) and (min-width: 766px) {
  #footerLayer {
    offset: 2.5;
  }
} */
/* @media (max-width: 765px) {
  #footerLayer {
    offset: 2.8;
  }
} */
/* .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.square {
  height: 100px;
  width: 100px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
   flex-wrap: wrap; 
} */
